.overlay {
  background-color: #161f30e3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal {
  position: relative;
  background: #dae9f3;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  display: flex;
  gap: 15px;
  align-items: center;
}
